<div id="<%= dom_id time_zone_name %>">
  <p>
    <strong>Name:</strong>
    <%= time_zone_name.name %>
  </p>

  <p>
    <strong>Abbrev:</strong>
    <%= time_zone_name.abbrev %>
  </p>

  <p>
    <strong>Utc offset:</strong>
    <%= time_zone_name.utc_offset %>
  </p>

  <p>
    <strong>Is dst:</strong>
    <%= time_zone_name.is_dst %>
  </p>

</div>
