<%= form_with model: blood_pressure, id: dom_id(blood_pressure, "form") do |form| %>
  <span>
    <%= form.date_select :statdate %>
    <%= inline_error_for(:statdate, blood_pressure) %>
  </span>

  <span>
    <%= form.text_field :systolic %>
    <%= inline_error_for(:statdate, blood_pressure) %>
  </span>
/
  <span>
    <%= form.text_field :diastolic %>
    <%= inline_error_for(:diastolic, blood_pressure) %>
  </span>

  <span>
    <%= form.text_field :heartrate %>
    <%= inline_error_for(:heartrate, blood_pressure) %>
  </span>

  <span>
    <%= form.text_field :comment%>
    <%= inline_error_for(:statdate, blood_pressure) %>
  </span>

  <span class="actions">
    <%= form.submit %>
  </span>
<% end %>
