<%= form_with model: blood_pressure, id: dom_id(blood_pressure, "form"), class: "row" do |form| %>
  <div class="col text-center col-lg-3">
    <%= blood_pressure.statdate.in_time_zone(blood_pressure.statzone).strftime("%a %d %b %Y %_l:%M %P") %>
  </div>

  <div class="col text-end col-lg-1">
     <%= blood_pressure.systolic %>
  </div>
/
  <div class="col text-start col-lg-1">
    <%= blood_pressure.diastolic %>
  </div>

  <div class="col text-center col-lg-1">
    <%= blood_pressure.heartrate %>
  </div>

  <div class="col col-lg-4"> <!-- FIXME column needs to be wider. Change from text_field at least makes it large enough, but rather was wider -->
    <%= form.text_area :comment, size: "45x2" %>
    <%= inline_error_for(:statdate, blood_pressure) %>
  </div>

  <div class="actions col col-lg-1">
    <%= form.submit "Update Comment" %>
  </div>
<% end %>
