<%= form_with(model: blood_pressure) do |form| %>

  <div class="field">
    <%= form.label :statdate %>
    <%= form.date_select :statdate %>
  </div>

  <div class="field">
    <%= form.label :systolic %>
    <%= form.number_field :systolic %>
  </div>

  <div class="field">
    <%= form.label :comment%>
    <%= form.text_field :comment%>
  </div>

  <div class="field">
    <%= form.label :sourceName %>
    <%= form.text_field :sourceName %>
  </div>

  <div class="field">
    <%= form.label :sourceVersion %>
    <%= form.text_field :sourceVersion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
