<!-- Columns not respected. HR hidden to simplify until get columns working. embedded (partial) in edit (maybe should move to edit.html.erb since customized) and  -->
<%= form_with model: blood_pressure, id: dom_id(blood_pressure, "form") do |form| %>
  <span class="col text-center col-lg-3">
    <%= blood_pressure.statdate.in_time_zone(blood_pressure.statzone).strftime("%a %d %b %Y %_l:%M %P") %>,
  </span>

  <span class="col text-end col-lg-1">
     BP: <%= blood_pressure.systolic %>
  </span>
/
  <span class="col text-start col-lg-1">
    <%= blood_pressure.diastolic %>
  </span>

  <!-- <span class="col text-center col-lg-1">
    <%#= blood_pressure.heartrate %>
  </span> -->

  <span class="col col-lg-6"> <!-- FIXME column needs to be wider -->
    <%= form.text_field :comment%>
    <%= inline_error_for(:statdate, blood_pressure) %>
  </span>

  <span class="actions">
    <%= form.submit "Update Comment" %>
  </span>
<% end %>
