<!-- Importing new data -->
<% if current_user %>
  <div class="container">
    <%= form_tag( action: :import_data, controller: :blood_pressures ) do %> <!-- Started POST "/import_data" for ::1 at 2021-11-12 20:39:24 -0800 but variable doesn't make it -->
    <%#= form_tag @blood_pressure do %>
    <%#= form_tag(model: :blood_pressure, url: 'import_data_blood_pressure_path ) do %> <!-- ActionController::RoutingError (No route matches [POST] "/"): -->
      <%= file_field_tag(:health_exported_zip) %>
      <%= submit_tag( "Import" ) %>
    <% end %>
  </div>
<% end %>

<!-- form_with is more modern. Seems to work, but no better than the above and url is confusing to me. This is just an alternate. Pick on or the other FIXME -->
<%= form_with model: @blood_pressures, url: { action: "import_data" } do |form| %>
  <%= form.file_field :health_exported_zip %>
<% end %>


<%#= form_with action: :import_data do %>
  <%#= file_field_tag :health_exported_zip %>
<%# end %>


<!-- Look at https://discuss.hotwired.dev/t/where-is-the-hello-world-of-tubo/3436
Maybe not terribly relevant?

<form action="/action_page.php" method="get">
  <input  type="text" id="qty" name="qty" class="input">
  <input  type="text" id="discount" name="discount" class="input">
  <input type="submit" value="Submit">
</form>

But the answer wasn't clear to me. Does is need a turbo wrapper
The example is for a  form submits/validations to work which is less complicated than what I'm looking for
 -->

