<!-- Variable for use below -->
<% last_record = BloodPressure.order('statdate asc').last.statdate %><br> <!-- last_record: 2021-12-26 04:40:23 UTC, but in db as 2021-12-25 20:40:23-08, Although ended up with last not being the most current if since sorting by id. How was an id reused? -->
<%#= render 'debugging', locals: {last_record: @last_record} %>
<%# timeZone = last_record.localtime.formatted_offset(false).slice!(0, 3).to_i %>
<!-- timeZone is hours as integer -->
<% timeZone =BloodPressure.order('statdate asc').last.statzone %>
<% last_record_zone = BloodPressure.order('statdate asc').last.statzone  %>
<% last_record_zone_in_seconds = last_record_zone*3600 %>
<% last_record_midnight = last_record + last_record_zone_in_seconds - (last_record.min*60) - (last_record.sec) %>

<!-- Stack 7 daily records, then maybe put on one graph when I figure it out -->

<!-- Variables for chart titles and trying for abscissa (so far that hasn't worked) -->
<% last_record_0_day_ago = last_record.strftime("%a, %b. %-d") %>
<% last_record_1_day_ago = last_record-1.day %>
<% last_record_2_day_ago = last_record-2.day %>
<% last_record_3_day_ago = last_record-3.day %>
<% last_record_4_day_ago = last_record-4.day %>
<% last_record_5_day_ago = last_record-5.day %>
<% last_record_6_day_ago = last_record-6.day %>
<!-- <% last_record_6_day_ago.class %> Time -->

<!-- Date and in days before in words -->
<% title0 = "#{last_record.strftime("%a, %b. %-d")}. #{time_ago_in_words(last_record)} ago" %>
<% title1 = "#{last_record_1_day_ago.strftime("%a, %b. %-d")}. <em>#{time_ago_in_words(last_record_1_day_ago)} before last reading</em>" %>
<% title2 = "#{last_record_2_day_ago.strftime("%a, %b. %-d")}. <em>#{time_ago_in_words(last_record_2_day_ago)} before last reading</em>" %>
<% title3 = "#{last_record_3_day_ago.strftime("%a, %b. %-d")}. <em>#{time_ago_in_words(last_record_3_day_ago)} before last reading</em>" %>
<% title4 = "#{last_record_4_day_ago.strftime("%a, %b. %-d")}. <em>#{time_ago_in_words(last_record_4_day_ago)} before last reading</em>" %>
<% title5 = "#{last_record_5_day_ago.strftime("%a, %b. %-d")}. <em>#{time_ago_in_words(last_record_5_day_ago)} before last reading</em>" %>
<% title6 = "#{last_record_6_day_ago.strftime("%a, %b. %-d")}. <em>#{time_ago_in_words(last_record_6_day_ago)} before last reading</em>" %>

<!-- The range for each day -->
<% span00 = last_record_midnight-0.day..last_record %>
<% span10 = last_record_midnight-1.day..last_record_midnight-0.day %>
<% span21 = last_record_midnight-2.day..last_record_midnight-1.day %>
<% span32 = last_record_midnight-3.day..last_record_midnight-2.day %>
<% span43 = last_record_midnight-4.day..last_record_midnight-3.day %>
<% span54 = last_record_midnight-5.day..last_record_midnight-4.day %>
<% span65 = last_record_midnight-6.day..last_record_midnight-5.day %>

<!-- Most recent -->
<div class="h4 text-center">
  Daily for last seven days of imported data (most recent at top)
</div>
<div class="text-center font-weight-bold">
  <!-- Working, but not spaced out over 24 hours. Spaced between first and last. Note curve: false-->
  <%= line_chart BloodPressure.where(statdate: span00).pluck(:statdate, :systolic), title: title0, xtitle: "Local Time", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF", curve: false %>

  <hr class="py-1"> <!-- Day before -->
  <!-- Also could use `, empty: "No data"` which may be the dafault -->
  <% if BloodPressure.where(statdate: span10).pluck(:statdate, :systolic).empty? %>
    No data for <%= last_record_1_day_ago.strftime("%A, %b %-d") %>
  <% else %>
  <!-- Setting xmin and xmax having no affect even if wrong numbers. https://chartkick.com shows this syntax. Ignored completely -->
    <%= line_chart BloodPressure.where(statdate: span10).pluck(:statdate, :systolic), title: title1, xtitle: "Local Time", ytitle: "Systolic", xmin: last_record_2_day_ago, xmax: last_record_1_day_ago,  min: 100, max: 200, color: "#D9A1FF" %>
  <% end %>

  <hr class="py-1"> <!-- Deux jours -->
  <% if BloodPressure.where(statdate: span21).pluck(:statdate, :systolic).empty? %>
    No data for <%= last_record_2_day_ago.strftime("%A, %b %-d") %>
  <% else %>
  <!-- Setting xmin and xmax having no affect even if wrong numbers. Goes back a year -->
    <%= line_chart BloodPressure.where(statdate: span21).pluck(:statdate, :systolic), title: title2, xtitle: "Local Time", ytitle: "Systolic", xmin: "2021-01-27", xmax: "2022-01-30", min: 100, max: 200, color: "#D9A1FF" %>
  <% end %>

  <hr class="py-1">
  <% if BloodPressure.where(statdate: span32).pluck(:statdate, :systolic).empty? %>
    No data for <%= last_record_3_day_ago.strftime("%A, %b %-d") %>
  <% else %>
    <%= line_chart BloodPressure.where(statdate: span32).pluck(:statdate, :systolic), title: title3, xtitle: "Local Time", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>
  <% end %>

  <hr class="py-1">
  <% if BloodPressure.where(statdate:span43).pluck(:statdate, :systolic).empty? %>
    No data for <%= last_record_4_day_ago.strftime("%A, %b %-d") %>
  <% else %>
    <%= line_chart BloodPressure.where(statdate: span43).pluck(:statdate, :systolic), title:title4, xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>
  <% end %>

  <hr class="py-1">
  <% if BloodPressure.where(statdate: span54).pluck(:statdate, :systolic).empty? %>
    No data for <%= last_record_5_day_ago.strftime("%A, %b %-d") %>
  <% else %>
    <%= line_chart BloodPressure.where(statdate: span54).pluck(:statdate, :systolic), title: title5, xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>
  <% end %>

  <hr class="py-1">
  <% if BloodPressure.where(statdate: span65).pluck(:statdate, :systolic).empty? %>
    No data for <%= last_record_6_day_ago.strftime("%A, %b %-d") %>
  <% else %>
    <%= line_chart BloodPressure.where(statdate: span65).pluck(:statdate, :systolic), title: title6, xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>
  <% end %>

</div>
