<!-- Variable for use below -->
<%# last_record = BloodPressure.order('statdate asc').last.statdate %><br>  <!-- 2022-01-06 16:14:48 UTC -->
<% last_record = BloodPressure.order('statdate asc').last.statdate %><br> <!-- last_record: 2021-12-26 04:40:23 UTC, but in db as 2021-12-25 20:40:23-08, Although ended up with last not being the most current if since sorting by id. How was an id reused? -->
<!-- 3. last_record.localtime.formatted_offset: <%= last_record.localtime.formatted_offset(false) %><br>
4. Midnight     :  <%= last_record.beginning_of_day %><br> -->
<% timeZone = last_record.localtime.formatted_offset(false).slice!(0, 3).to_i %> <!-- Correct, but not using it, see next line -->
<% midnight = last_record.beginning_of_day - timeZone.hour %>
<!-- 5. Midnight UTC?: <%= midnight %><br>
6. timeZone.hour: <%= timeZone.hour %> converts to seconds<br><%= timeZone.hour.class %><br>
6.1 <%= last_record %> Time is local with time zone shown<br>
7. last_record + timeZone.hour : <%= last_record + timeZone.hour %><br> -->

<% timeZoneNeg = -last_record.localtime.formatted_offset(false).slice!(0, 3).to_i %> <!-- Just because I'm substracting it and it may be easier to use a positive number or not. Don't need to, but had problems at beginning so left it, but could change sign and variable<br> -->
<%# last_record_minus_zone = last_record - timeZone %>
<!-- xmin: "2021-01-01", xmax: "2022-01-01" How do you tell Rails 3am to 12 pm or similar-->

<!-- Stack 7 daily records, then maybe put on one graph when I figure it out -->
<!-- :stattime is a symbol and comes through as GMT, so can't use .localtime to get the time showing right -->
<!-- The order of the variables and methods in the following matters -->

<!-- <hr> --><% last_record+timeZoneNeg.hour %> <!-- 2022-01-06 16:14:48 -0800, So still essentially UTC -->
<!-- <hr><%#= last_record+(timeZoneNeg.hour) %> 2022-01-06 16:14:48 -0800 -->
<%#= (last_record+timeZoneNeg).hour %> <!-- 8 -->
<!-- I'm looking for midnight of the day, so for the abscissa, but finding stattime might be a different story. The data is selected correctly, but the abscissa labeling is wrong. The abscissa is in UTC and not local time -->
<% last_record-8.hour %> <!-- :: 2022-01-06 00:14:48 -0800 -->
<% last_record+8.hour %> <!-- :2022-01-06 16:14:48 -0800  -->

<div class="text-center font-weight-bold">
  <%= line_chart BpTimeWithZone.where(statdate: last_record+timeZoneNeg.hour-1.day..last_record).pluck(:stattime, :systolic), title: "Last week by days (Most recent at top).<br> #{last_record.strftime("%A, %b %-d")}", xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>
<!-- Both (above and below) are showing the same graph. In other words midnight works -->
    <%#= line_chart BpTimeWithZone.where(statdate: midnight..last_record).pluck(:stattime, :systolic), title: "Last week by days (Most recent at top). Up to #{last_record.strftime("%A, %b %d")}. The x-axis is GMT", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>

  <hr class="py-1">
  <% last_record_1_day_ago = last_record+timeZoneNeg.hour-2.day %>
  <%= line_chart BpTimeWithZone.where(statdate: last_record+timeZoneNeg.hour-2.day..last_record+timeZoneNeg-1.day).pluck(:stattime, :systolic), title: "#{last_record_1_day_ago.strftime("%A, %b %-d")}", xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>
    <%#= line_chart BpTimeWithZone.where(statdate: last_record+timeZoneNeg.hour-2.day..last_record+timeZoneNeg-1.day).pluck(:stattime, :systolic), ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF", title: "Last week by days (Most recent at top). Up to #{last_record+timeZoneNeg.hour-2.day.strftime("%A, %b %d")} %> <!-- Does not work -->

  <hr class="py-1">
  <% last_record_2_day_ago = last_record+timeZoneNeg.hour-3.day %>
  <%= line_chart BpTimeWithZone.where(statdate: last_record+timeZoneNeg.hour-3.day..last_record+timeZoneNeg-2.day).pluck(:stattime, :systolic), title: "#{last_record_2_day_ago.strftime("%A, %b %-d")}", xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>

  <hr class="py-1">
  <% last_record_3_day_ago = last_record+timeZoneNeg.hour-4.day %>
  <%= line_chart BpTimeWithZone.where(statdate: last_record+timeZoneNeg.hour-4.day..last_record+timeZoneNeg-3.day).pluck(:stattime, :systolic), title: "#{last_record_3_day_ago.strftime("%A, %b %-d")}", xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>

  <hr class="py-1">
  <% last_record_4_day_ago = last_record+timeZoneNeg.hour-5.day %>
  <%= line_chart BpTimeWithZone.where(statdate: last_record+timeZoneNeg.hour-5.day..last_record+timeZoneNeg-4.day).pluck(:stattime, :systolic), title: "#{last_record_4_day_ago.strftime("%A, %b %-d")}", xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>

  <hr class="py-1">
  <% last_record_5_day_ago = last_record+timeZoneNeg.hour-6.day %>
  <%= line_chart BpTimeWithZone.where(statdate: last_record+timeZoneNeg.hour-6.day..last_record+timeZoneNeg-5.day).pluck(:stattime, :systolic), title: "#{last_record_5_day_ago.strftime("%A, %b %-d")}", xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>

  <hr class="py-1">
  <% last_record_6_day_ago = last_record+timeZoneNeg.hour-7.day %>
  <%= line_chart BpTimeWithZone.where(statdate: last_record+timeZoneNeg.hour-7.day..last_record+timeZoneNeg-6.day).pluck(:stattime, :systolic), title: "#{last_record_6_day_ago.strftime("%A, %b %-d")}", xtitle: "Time UTC", ytitle: "Systolic", min: 100, max: 200, color: "#D9A1FF" %>
</div>
