<!-- <h4>For testing-works without container</h4> -->
<!-- <div class="container"> -->
  <!-- <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
  <div class="row">
    <div class="col">
      Column in second row
    </div>
    <div class="col">
      Column in second row
    </div>
    <div class="col">
      Column in second row
    </div>
  </div>  -->
<!-- </div> -->


<!-- Wrapped in container on index.html.erb -->
<!-- <div class="table-responsive ">
  <div class="table table-sm table-hover align-middle"> -->  <!-- table-striped table-responsive pretty datetimes --> 
    <!-- Add .table-sm to make any .table more compact by cutting all cell padding in half. -->

<!-- For add data row to work, need to create a new form, the _form is now set up for editing comment -->
<!-- <div class="row">
  <h5>Add data</h5>
  <%#= turbo_frame_tag "new-bp-form", src: new_blood_pressure_path %>
</div> -->
<div class="row">
  <div class="col text-center col-lg-3">Date</div>
  <div class="col text-end    col-lg-1">Systolic</div>/
  <div class="col text-start  col-lg-1">Diastolic</div>
  <div class="col text-center col-lg-1">HR</div>
  <div class="col col-lg-3">Comment</div>
  <div class="col col-lg-2"></div>
  <!-- <div>Debugging</div> -->
</div>
<!-- End of header, now the table (although not using table HTML because of turbo?) -->
<% @blood_pressures.each do |blood_pressure| %>
  <%= turbo_frame_tag blood_pressure do %>
    <div class="row"> <!-- Can't put this above the do -->
    <!-- Should be in a helper or something, but why do I need the crazy .in_time_zone(timeZone) work around?. Later found using blood_pressure.statzone which is a number works. But statzone does have to be calculated from statdate and recorded in database. Maybe should do when needed and avoid putting in database. But if it isn't broken don't fix it.  -->
      <%#
        timeZone = case blood_pressure.statzone
          when -8 then "America/Los_Angeles"
          when -7 then "America/Los_Angeles"
          when  0 then "Europe/London"
        end
      %>
      <% day_num = blood_pressure.statdate.in_time_zone(blood_pressure.statzone).strftime("%u").to_i %> <!-- Puts in smiley face -->
      <!-- The date and Setting the color background to denote days of the week -->
      <div class="col text-end col-lg-2 <%= systolic_icon_level(blood_pressure.systolic) %>
                  background-color-day-<%= blood_pressure.statdate.in_time_zone(blood_pressure.statzone).strftime("%u") %> ">
        <%= blood_pressure.statdate.in_time_zone(blood_pressure.statzone).strftime("%a %d %b %Y") %>
      </div>
      <!-- The Time -->
      <div class="col text-start col-lg-1"> <%= blood_pressure.statdate.in_time_zone(blood_pressure.statzone).strftime("%_l:%M %P") %></div>

      <!-- <div class="col><%#= vert_lines(day_num) %></div> -->
      <div class="col text-end col-lg-1 <%= systolic_icon_level(blood_pressure.systolic) %>
        <%= systolic_text_color(blood_pressure.systolic) %> "> <%= blood_pressure.systolic %>
      </div>/ <!-- /helpers/blood_pressures_helper.rb -->
      <div class="col text-start  col-lg-1"> <%= blood_pressure.diastolic %></div>
      <div class="col text-center col-lg-1"> <%= blood_pressure.heartrate %></div>
      <div class="col col-lg-3"><%= blood_pressure.comment %></div>
      <!-- Edit icon/action which will change the line to edit mode. Uses  -->
      <div class="col col-sm-1 text-end">
        <%= link_to edit_blood_pressure_path(blood_pressure) do %>
          <svg fill="none" stroke="currentColor" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
        <% end %> <!-- of link_to svg -->
      </div>

        <!-- Sort of copied from MixAndGo, but messes up icon. Delete confirmation from stackoverflow below -->
        <%#= button_to 'Destroy', @blood_pressure, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } do %> <!-- https://stackoverflow.com/questions/70994322/how-to-call-confirm-prompt-using-button-to-in-rails-with-turbo  Modified to fit what I got from Cezar-->
      <div class="col col-sm-1 text-start"> <!-- FIXME Why the black box? -->
        <%= button_to blood_pressure_path(blood_pressure), method: :delete, form: { data: { turbo_confirm: 'Do you want to delete this data?' } } do %>
          <svg fill="none" stroke="red" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
        <% end %> <!-- of button_to svg delete -->
      </div>
      <!-- <div class="col">timeZone: <%#= blood_pressure.statzone %></div> -->
      </div>
  <% end %> <!-- turbo_frame_tag -->
<% end %> <!-- bloodpressure -->
    </div> <!-- row -->
<br>
<%== pagy_bootstrap_nav(@pagy) %>

<!-- Precise control, must add to 100%. An example below -->
<!-- <table>
  <div>
    <div>
        <div style="width:10%">Size</div>
        <div style="width:30%">Bust</div>
        <div style="width:50%">Waist</div>
        <div style="width:10%">Hips</div>
    </div>
    <div>table body</div>
  </div>
</div> -->
