<div class="table-responsive ">
  <table class="table table-sm table-hover align-middle">  <!-- table-striped table-responsive pretty datetimes --> 
    <!-- Add .table-sm to make any .table more compact by cutting all cell padding in half. -->
    <thead>  <!-- class="sticky-header" -->
      <tr>
        <!-- Col widths go in the th -->
        <!--Not sure what scope is about -->
        <!-- <th scope="col" class="col-sm-1 text-end">ID</th> -->
        <th scope="col" class="text-center col-lg-2" colspan="2"><i class="bi bi-emoji-smile">Date</th>
        </i>
         <th scope="col" class="text-end col-lg-1">Systolic /</th><!-- text-uppercase is to see if bootstrap is working -->
        <th scope="col" class="text-start col-lg-1">Diastolic</th>
        <th scope="col" class="col-lg-1">HR</th>
        <!-- <th scope="col" class="text-center col-lg-2" colspan="2">Time only</th>  --><!-- Only need for debugging 24 hour chart -->
        <!-- <th scope="col" class="col-md-1">Weight</th> -->
        <th scope="col" class="col-lg-3">Comment</th>
        <th scope="col" class="col-lg-2" colspan="2"></th>
        <td>Debugging</td>
      </tr>
    </thead>

    <tbody>
      <% @blood_pressures.each do |stat| %>
        <%= turbo_frame_tag stat.id do %> <!-- Ending up at the top level of the table -->
          <tr>
              <%
                timeZone = case stat.statzone
                  when -8 then "America/Los_Angeles"
                  when -7 then "America/Los_Angeles"
                end
              %>
            <!-- The date and Setting the color background to denote days of the week -->
            <td class="text-end <%= systolic_icon_level(stat.systolic) %> background-color-day-<%= stat.statdate.in_time_zone(timeZone).strftime("%u") %> ">
              <%= stat.statdate.in_time_zone(timeZone).strftime("%a %d %b %Y") %>
            </td>
            <!-- The Time -->
            <td class="text-start"> <%= stat.statdate.in_time_zone(timeZone).strftime("%_l:%M %P") %></td>
            <td class="text-end <%= systolic_icon_level(stat.systolic) %> <%= systolic_text_color(stat.systolic) %> "> <%= stat.systolic %> / </td> <!-- /helpers/blood_pressures_helper.rb -->
            <td class="text-start">  <%= stat.diastolic %></td>
            <td class="text-center"> <%= stat.heartrate %></td>
            <td><%= link_to edit_blood_pressure_path(stat) do %><%= stat.comment %><% end %></td>
            <td><%= link_to 'Edit comment', edit_blood_pressure_path(stat) %></td>
            <td><%= link_to 'Delete this record', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td>timeZone: <%= timeZone %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%== pagy_bootstrap_nav(@pagy) %>

<!-- Precise control, must add to 100%. An example below -->
<!-- <table>
  <thead>
    <tr>
        <th style="width:10%">Size</th>
        <th style="width:30%">Bust</th>
        <th style="width:50%">Waist</th>
        <th style="width:10%">Hips</th>
    </tr>
    <tr>table body</tr>
  </thead>
</table> -->
