<div class="container">
  <div id="user_header" class="float-end">
    <% if current_user %>
      Logged in as <%= current_user.username %>.
      <%= link_to "Log Out", logout_path %>
      <br>
      <%= link_to "Return to main page", root_path %>
    <% else %>
      <%= link_to "Log In", login_path %>. No new sign ups accepted at present.
    <% end %>
  </div>

  <h1 class="text-center">
    <img src="https://img.icons8.com/color/48/000000/heart-with-pulse.png"/>
     <% if current_user %>
       <%= current_user.username %>&lsquo;s Blood Pressure
      <% else %>
        Blood Pressure Demo
      <% end %>
    <img src="https://img.icons8.com/color/48/000000/heart-with-pulse.png"/>
  </h1>

  <div class="">
    <table class="">
      <thead>
        <tr>
          <th class="text-center col-3">Date & Time</th>
          <th class="col-2">Systolic/Diastolic</th>
          <th class="col">HR</th>
          <th class="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        <% @blood_pressures.each do |stat| %>
            <tr>
              <td> <%= stat.statdate.localtime.strftime("%d %b %Y %_l:%M%P") %></td> <!-- .strftime("%_l:%M %P") or ("%H:%M")-->
              <td class="<%= systolic_icon_level(stat.systolic) %> <%= systolic_text_color(stat.systolic) %>"> <%= stat.systolic %> / <%= stat.diastolic %></td>
              <td><%= stat.heartrate %></td>
              <td><%= stat.comment %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
