<!DOCTYPE html>
<html>
  <head>
    <title>BP Health</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnout.com/jquery/"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartkick@4.1.0/dist/chartkick.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>

  <body>
    <%= yield %>
    <div class="m-3">
      <a href="https://icons8.com/icon/78394/heart-with-pulse ">Heart with Pulse icon by Icons8</a>
    </div>
  </body>
</html>
